안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

[**답변 입력 방법**] 문제 아래 코드 셀에 정답 코드를 작성하신 후 __▷ 버튼을 클릭해 실행__ 해보세요.

__[문제1]__

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요

x = 2, n = 5

In [ ]:
x = 2
n = 5
result = [x * i for i in range(1, n+1)]
print(result)

__[문제2]__

전화번호 문자열 `phone_number`가 주어졌을 때, 뒷 4자리를 `*`로 가려주세요

phone_number = "01012347890"

출력 예: `0101234****`

In [ ]:
phone_number = "01012347890"
result = phone_number[:-4] + "****"
print(result)

__[문제3]__

숫자의 일부 자릿수가 영단어로 바뀐 문자열 `s`가 주어졌을 때, 원래 숫자를 출력해주세요.

예: `s = "77three4one"` → 출력: `77341`

In [ ]:
s = "77three4one"
num_words = {"zero":"0", "one":"1", "two":"2", "three":"3", "four":"4", "five":"5", "six":"6", "seven":"7", "eight":"8", "nine":"9"}
for word, digit in num_words.items():
    s = s.replace(word, digit)
print(int(s))

__[문제4]__

행렬 arr1과 arr2가 주어졌을 때, 같은 위치의 값을 더한 결과를 출력해주세요.

arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]
출력: [[4,6],[7,9]]

In [ ]:
arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]
result = [[arr1[i][j] + arr2[i][j] for j in range(len(arr1[0]))] for i in range(len(arr1))]
print(result)

__[문제5]__

자릿수 합으로 나누어떨어지는 수를 하샤드 수라고 합니다. 주어진 수가 하샤드 수인지 판별해주세요.

x = 17

In [ ]:
x = 17
digits_sum = sum(int(d) for d in str(x))
print(x % digits_sum == 0)

__[문제6]__

리스트 `seoul`에서 "Kim"이 있는 위치를 찾아 출력해주세요. (예: 김서방은 1에 있다)

seoul = ["Jane", "Kim"]

In [ ]:
seoul = ["Jane", "Kim"]
x = seoul.index("Kim")
print(f"김서방은 {x}에 있다")

__[문제7]__

리스트 `numbers`에 없는 0~9까지 숫자의 합을 구해주세요.

numbers = [5,8,1,0,6,9]

In [ ]:
numbers = [5,8,1,0,6,9]
missing_sum = sum(set(range(10)) - set(numbers))
print(missing_sum)